* {
  margin: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FCF6EE;

}

.nav-main {
  z-index: 2;
  background-color: #fcf5ebe7;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 13px;
}

.navimg {
  margin-left: 0px;
  width: 170px;
  height: 50px;
}

.button {
  margin-bottom: 10px;
  background-color: black;
  color: black;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  background: #25D366;
  transition: background-color 1.2s ease-out;
}

.button-size {
  width: 150px;
  height: 50px;
}

.button::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, 50%) scale(0);
  transition: transform 1.2s ease-out;
  z-index: 0;
}

.button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.button:hover {
  color: white;
  transition: color 1.2s ease-out 0.5s;
}

.button span {
  position: relative;
  z-index: 1;
  transition: color 1.2s ease-out;
}

.navlink1 {
  gap: 50px;
  display: flex;
  padding: 15px;
}

.link {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 16px;
  overflow: hidden;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #25D366;
  transition: width 0.4s ease-in-out 0.2s;
}

.link:hover::after {
  width: 100%;
}

.img {
  z-index: 1;
  background-image: url(images/backgroundimg.jpg);
  height: 700px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  position: relative;
  top: 100px;
  right: 15px;
  border-radius: 60px;
}

.img1 {
  position: absolute;
  left: 800px;
  top: 110px;
}

.img2 {
  position: absolute;
  left: 800px;
  top: 90px;
}

.img3 {
  position: absolute;
  top: 150px;
  left: 800px;
}

.img4 {
  position: absolute;
  top: 250px;
  left: 800px;
}

.img5 {
  position: absolute;
  top: 314px;
  left: 800px;
}

.emoji {
  position: absolute;
  left: 800px;
  top: 530px;
}

.img6 {
  position: absolute;
  left: 800px;
  top: 570px;
}

.h1 {
  font-size: 80px;
  letter-spacing: -0.04em;
  color: white;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: absolute;
  left: 150px;
  top: 150px;
}.p{
  font-size: 16px;
  color: white;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: absolute;
  left: 150px;
  top: 350px;
}
.button2{
  position: absolute;
  left: 150px;
  top: 470px;
}
.charges{
  font-size: 12px;
  color: grey;
  position: absolute;
  left: 1000px;
  top: 770px;
}
.img7{
  position: absolute;
  top: 850px;
  right: 20px;
}
.paragraph{
  position: absolute;
  text-align: center;
  top: 1150px;
  margin-left: 250px;
  font-size: 40px;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.img8{
  position: absolute;
  top: 1400px;
  margin-left: 50px;
}