* {
  margin: 0px;
}

body {
  
  background-color: #FCF6EE;
  

}

.nav-main {
  background-color: #fcf5ebe7;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 13px;
  z-index: 1;
}

.navimg {
  margin-left: 0px;
  width: 170px;
  height: 50px;
}

.button {
  position: relative;
  background-color: black;
  color: rgb(8, 8, 8);
  font-size: 16px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  background: #25D366;
  transition: background-color 1.2s ease-out;
  z-index: 1;
}

.button-size {
  width: 150px;
  height: 50px;
}

.button2 {
  margin-top: 90px;
}

.button::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  transform: translate(-50%, 50%) scale(0);
  transition: transform 1.2s ease-out;
  z-index: -1;
}

.button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.button:hover {
  color: white;
  transition: color 1.2s ease-out 0.5s;
}

.navlink1 {
  gap: 50px;
  display: flex;
  padding: 15px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  overflow: hidden;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #25D366;
  transition: width 0.4s ease-in-out 0.2s;
}

.link:hover::after {
  width: 100%;
}

.img {
  background-image: url(images/backgroundimg.jpg);
  height: 700px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  border-radius: 60px;
  margin-right: 30px;

}

.padding {
  padding-top: 100px;
}

.h1p {
  font-size: 80px;
  letter-spacing: -0.04em;
  color: white;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.h1 {
  float: left;
  margin-left: 150px;
  padding-top: 200px;
}


.p1 {
  float: left;
  margin-top: 50px;
  margin-left: -300px;
}

.pp {
  font-size: 16px;
  color: white;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.img1 {
  position: relative;
  float: right;
  margin-top: 75px;
}

.emoji1 {
  position: absolute;
  top: 200px;
  right: 90px;

}

.img2 {
  float: right;
  margin-top: 40px;
  margin-right: 60px;
}

.img3 {
  float: right;
  position: relative;
  margin-top: 5px;
  margin-right: 60px;
}

.emoji2 {
  position: absolute;
  top: 690px;
  right: 90px;
}

.img4 {
  float: right;
  margin-top: 250px;
  margin-right: -400px;
}

.charges {
  float: right;
  margin-top: -30px;
  margin-right: 20px;
  color: grey;
  font-size: small;
}

.paragraph {
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #1c1e21;
  font-size: 45px;
  font-weight: 400;
}

.div1 {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.paragraph2 {
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #1c1e21;
  font-size: 55px;
  font-weight: 450;
  margin-top: 150px;

}

.p2 {
  font-size: 16px;
  align-items: center;
  color: #1c1e21;
}

.link-learnMore {
  text-decoration: underline;
  color: #1c1e21;
  text-decoration-color: #25D366;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  margin-bottom: 100px;
}

.link-learnMore:hover {
  color: #25D366;
}

.div2 {
  display: flex;
  justify-content: left;
  gap: 70px;
  background-color: #111B21;
  align-items: center;
}

.img2position {
  margin-top: 100px;
  margin-left: 150px;
}

.p3 {
  color: white;
  font-size: 50px;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;


}

.p4 {
  color: #25D366;
  font-size: 50px;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.p5 {
  color: white;
  font-size: 22px;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.link-learnMore2 {
  text-decoration: underline;
  color: white;
  text-decoration-color: #25D366;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.link-learnMore2:hover {
  color: #25D366;
  cursor: pointer;
}

.div3 {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}

.p6 {
  font-size: 50px;
  margin-top: 100px;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #111B21;

}

.p7 {
  color: #111B21;
  font-size: 20px;
  margin-top: 20px;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.img3position {
  margin-top: 75px;
}

.backgroundImg2 {
  margin-top: 100px;
  background-image: url(images/backgroundimg2.png);
  height: 600px;
  width: 350px;
  background-repeat: no-repeat;
}

.backgroundImg3 {
  margin-top: 200px;
  background-image: url(images/img12.png);
  height: 500px;
  width: 350px;
  background-repeat: no-repeat;

}

.div4 {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}

.p8 {
  color: #111B21;
  font-size: 20px;
  margin-top: 20px;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  width: 500px;
}
.h1position{
  margin-top: 200px;
  font-size: 55px;
  font-weight: 400;

}
.img4position{
  margin-top: 170px;

}
.footer{
  background-color: #111B21;
}
.div5{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.button3{
  margin-top: 100px;
  margin-left: 60px;
  
}
.whatdowedo{
  color: white;
  margin-top: 100px;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.linksa{
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
 font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.linksa:hover{
  text-decoration: underline;
}
.img5position{
  margin-left: 50px;
  margin-top: 50px;
}
.hr{
  border: 1px solid #33463f;
  color: #33463f;
  width: 80%;
  margin-top: 50px;
}
.div6{
  color: white;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.linksa2{
  color: white;
  text-decoration: none;
  margin-top: 50px;
}
.plast{
  margin-top: 50px;
}
.button3 {
  position: relative;
  background-color: black;
  color: rgb(8, 8, 8);
  font-size: 16px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  background: #1C1E21;
  transition: background-color 1.2s ease-out;
  z-index: 1;
 
}

.button-size3 {
  width: 50px;
  height: 50px;
}


.button3::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #25D366;
  border-radius: 50%;
  transform: translate(-50%, 50%) scale(0);
  transition: transform 1.2s ease-out;
  z-index: -1;
}

.button3:hover::before {

  transform: translate(-50%, -50%) scale(1);
}

.button3:hover {
  color: white;
  transition: color 1.2s ease-out 0.5s;
}

.circle{
 margin-top: 50px;
 margin-left: 20px;
 border-color: white;
 color: white;
}
.select{
  background-color: #111B21;
  color: white;
  width: 250px;
  height: 70px;
  border-radius: 70px;
  margin-top: 50px;
  margin-left: 100px;
  border:3px solid white;
  font-weight: bold;
}